/*li a .nav-link
    display: flex
    list-style: none
    justify-content: space-around

a 
    display: block
    padding: 30px !important
    text-decoration: none
   
.navbar
    padding-left: 171px !important
    padding-top: 1cm
    

.headerbackground
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../images/banner1.jpg")
//    height: 985px

.background2
    background-image: url("../../images/bottom_decoration_img.png")
    background-repeat: repeat-x
    height: 10px

nav ul 
    text-align: center
li 
    border-top: 1px solid white
    border-bottom: 1px solid white

li .nav-item
    padding-bottom: 10px

.rose
    background-color: #FF004D


// ici,c'est mon premier texte  
.texttitre
    font-family: 'Courgette', cursive
    color: white
// Ici, c'est mon badge
    
.link
    background:  #FF004D
    color: #fff !important
    font-size: 20px
    font-weight: 300
    border-radius: 100px
    text-transform: uppercase
#rose
    background-color: white !important
    color: black !important

.espaces
    margin-bottom: 222px
   

// le 2 section: fond blanc

.sectionblanc
    background-image: url("../../images/main_bg.jpg")
    padding-top: 54px

.titre3
    color: red 
.pageblanche
    font-family: "Courgette", cursive
    background-color: white
    overflow: hidden
    
.titreprincipal
    border-bottom: 1px solid #C1C1C3 
    display: inline-block
    margin-bottom: 50px
    margin-top: 50px
    text-align: center
    font-family: "Courgette", cursive

.titreprincipale

   
    display: inline-block
    color: white
    font-family: "Courgette", cursive

    // padding pour le texte dans le container
.lorem
    
    text-align: center
    padding-left: 180px
    padding-right: 180px

.hautgauche
    position:relative
    top: 0
    left: 0
    float: left
.pageblanche .hautdroite
    position: relative
    top: 0
    right: 0
    float: right

    // le menu

.mainmenu
    overflow: hidden
    border-bottom: 1px dashed #CCC5BF 

.logogauche
    border-right: 4px #FF004D solid
    text-align: center
    font-family: 'Courgette', cursive
    border-bottom: 1px solid #CCC5BF 
.logogaucheend
    border-right: 4px #FF004D solid




.img-circle
    border-radius: 500px
    float:left
   
.text-menu
    float:right
     
.prix
    color: #FF004D
    background-color: #D0D0D0 
    display: inline-block

// section avec les chefs

.leshommes
    background-color: black

.borderblanc
    border-bottom: 1px solid white
    display: inline-block
.photo
    position: relative

.pourtexte
    position:absolute
    top: 0
    left: 0


   
   
    

